.titlebar-products {
    border-bottom: 3px solid grey;

    h4 {
    font-size: 2em;
    }
}

#text-1-products {
    font-size: 2em;
    font-weight: 300;
}

.product-container {
    padding-bottom: 200px;
}

.box-title {
    background: linear-gradient(0deg, rgba(40,40,40,1) 0%, rgba(103,103,103,1) 100%);
    font-size: 0.8vw;
    height: 100px;
    display: flex;
    align-items: center;
    overflow: hidden;

    
    @media screen and (max-width: 900px) {
        font-size: 1.6vw;
        height: 80px;
    }

    @media screen and (max-width: 600px) {
        font-size: 2.5vw;
    }
}

.product-cont {
    width: 80%;
}

.product-box {
    width: 20vw;
    cursor: pointer;
    &:hover {
        > .box-title {
            background:#ffb703;
        }

        > .image-box .hover-div-box {
            opacity: 1;
            transform: scale(1);
        }
    }

    @media screen and (max-width: 900px) {
        width: 30vw;
    }

    @media screen and (max-width: 600px) {
        width: 30vw;
    }
}

.box-row {
    gap: 20px;
}

.hover-div-box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transform: scale(0.94);
    transition: 0.2s;
}

.box-hover-title {
    border-bottom: 2px solid white;
    border-top: 2px solid white;
    font-size: 2em;
}

.icon-mouse {
    font-size: 2em;
}