.title-textsection {
    font-size: 1.3vw;
    font-weight: 600;

    @media screen and (max-width: 1200px) {
        font-size: 1.3em;
    }

    @media screen and (max-width: 800px) {
        font-size: 2.5vw;
    }

    @media screen and (max-width: 600px) {
        font-size: 3.5vw;
    }
}

.text-textsection {
    font-size: 1.3vw;

    @media screen and (max-width: 1200px) {
        font-size: 1.3em;
    }

    @media screen and (max-width: 800px) {
        font-size: 2.5vw;
    }

    @media screen and (max-width: 600px) {
        font-size: 3.5vw;
    }
}

.textsection {
    position: relative;
    padding-bottom: 100px;

    &:after {
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 30%;
        height: 3px;
        content: '';
        transform: translateX(-50%);
        background-color: grey;
    }
}

